.inputWrapper input {
  background:transparent;
  outline:none;
  border:0;
  width:200px;
}

.inputWrapper {
  border:1px solid;
  position:relative;
  width:210px;
}
.options {
  border:1px solid;
  position:absolute;
  top:20px;
  background:white;
  width:208px;
}
.selected-option{
  position:absolute;
  top:0px;
  left:0px;
  background:white;
}

.inputWrapper li {
  cursor:pointer;
  margin-left:-30px;
  list-style:none;
}